{% extends "base.html" %}
{% block app %}
{% load staticfiles %}
    <script type="text/javascript" charset='UTF-8' src="{% static "home/stores.js" %}"></script>
    <script type="text/javascript" charset='UTF-8' src="{% static "home/svnAccountAddUpWin.js" %}"></script>
    <script type="text/javascript" charset='UTF-8' src="{% static "home/svnProjectAddUpWin.js" %}"></script>
    <script type="text/javascript" charset='UTF-8' src="{% static "home/svnConverterAddUpWin.js" %}"></script>
    <script type="text/javascript" charset='UTF-8' src="{% static "home/svnAccountGrid.js" %}"></script>
    <script type="text/javascript" charset='UTF-8' src="{% static "home/svnProjectGrid.js" %}"></script>
    <script type="text/javascript" charset='UTF-8' src="{% static "home/svnConverterGrid.js" %}"></script>
    <script type="text/javascript" charset='UTF-8' src="{% static "home/svnLogPanel.js" %}"></script>
    <script type="text/javascript" charset='UTF-8' src="{% static "home/packGridWin.js" %}"></script>
    <script type="text/javascript" charset='UTF-8' src="{% static "home/resultGridWin.js" %}"></script>
    <script type="text/javascript" charset='UTF-8' src="{% static "home/main.js" %}"></script>
    <script type="text/javascript" charset='UTF-8' src="{% static "home/zepto.min.js" %}"></script>
{% endblock %}